@inject SweetAlertService sweetAlertService

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <h3>Tipo de Servicio:</h3>        
        <InputSelect class="form-control" @bind-Value="@Service.Servicio">            
            <option value=""></option>
            <option value="sencilla">Lavada sencilla</option>
            <option value="full">Lavada full</option>
            <option value="motor">Lavada de motor</option>
            <option value="brillada">Brillada</option>
        </InputSelect>
                
        @if (!string.IsNullOrEmpty(Service.Servicio))
        {
            <p>Seleccionaste: @Service.Servicio</p>
        }
        else
        {
            <p>No has seleccionado un servicio</p>
        }

        <h3>Tipo de Vehiculo:</h3>
        <InputSelect class="form-control" @bind-Value="@Service.Vehiculo">
            <option value=""></option>
            <option value="Liviano">Liviano</option>
            <option value="Camioneta">Camioneta</option>
            <option value="Van">Van</option>
            <option value="Camion">Camion</option>
        </InputSelect>        
        
        @if (!string.IsNullOrEmpty(Service.Vehiculo))
        {
            <p>Seleccionaste: @Service.Vehiculo</p>
        }
        else
        {
            <p>No has seleccionado el tipo de vehiculo</p>
        }
        
       @if (!string.IsNullOrEmpty(Service.Servicio) && !string.IsNullOrEmpty(Service.Vehiculo))
        {
            decimal precioCalculado = 0;
            
            if (Service.Servicio == "sencilla")
            {
                if (Service.Vehiculo == "Liviano")
                {
                    Service.Precio = 15000;                    
                }
                else if (Service.Vehiculo == "Camioneta")
                {
                    Service.Precio = 18000;                    
                }
                else if (Service.Vehiculo == "Van")
                {
                    Service.Precio = 20000;                    
                }
                else if (Service.Vehiculo == "Camion")
                {
                    Service.Precio = 30000;                    
                }
                precioCalculado = Service.Precio;
            }
            else if (Service.Servicio == "full")
            {
                if (Service.Vehiculo == "Liviano")
                {
                    Service.Precio = 18000;                    
                }
                else if (Service.Vehiculo == "Camioneta")
                {
                    Service.Precio = 25000;                    
                }
                else if (Service.Vehiculo == "Van")
                {
                    Service.Precio = 30000;                    
                }
                else if (Service.Vehiculo == "Camion")
                {
                    Service.Precio = 45000;                   
                }
                precioCalculado = Service.Precio;
            }
            else if (Service.Servicio == "motor")
            {
                if (Service.Vehiculo == "Liviano")
                {
                    Service.Precio = 20000;                    
                }
                else if (Service.Vehiculo == "Camioneta")
                {
                    Service.Precio = 25000;                    
                }
                else if (Service.Vehiculo == "Van")
                {
                    Service.Precio = 25000;                    
                }
                else if (Service.Vehiculo == "Camion")
                {
                    Service.Precio = 35000;
                }
                precioCalculado = Service.Precio;                
            }
            else if (Service.Servicio == "brillada")
            {
                if (Service.Vehiculo == "Liviano")
                {
                    Service.Precio = 40000;
                }
                else if (Service.Vehiculo == "Camioneta")
                {
                    Service.Precio = 45000;
                }
                else if (Service.Vehiculo == "Van")
                {
                    Service.Precio = 60000;
                }
                else if (Service.Vehiculo == "Camion")
                {
                    Service.Precio = 60000;
                }
                precioCalculado = Service.Precio;
            }
            else
            {
                precioCalculado = 0;
            }
            <h3>El valor es: @precioCalculado</h3>
            <button class="btn btn-primary" type="submit">Aceptar y Guardar</button>            
            <ValidationMessage For="@(() => precioCalculado)" />
        }       
        
    </div>   
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    private EditContext editContext = null!;

    [Parameter]
    [EditorRequired]
    public Service Service { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback ReturnAction { get; set; }

    public bool FormPostedSuccessfully { get; set; }

    protected override void OnInitialized()
    {
        editContext = new(Service);
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formWasMofied = editContext.IsModified();
        if (!formWasMofied || FormPostedSuccessfully)
        {
            return;
        }

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
        
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = !string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        context.PreventNavigation();
    }
}